<body style="background-color: <%= color %>">
    <button class="myBtn" onClick='window.location="#training"'>Add Training</button>
    <button class="myBtn" onClick='window.location="#trainings"'>Trainings</button>
    <button class="myBtn" onClick='window.location="#application"'>Add Application</button>
    <button class="myBtn" onClick='window.location="#table"'>Applications</button>

    <div id="training" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Add New Training:</h1>
        <%- include('partials/training-form.ejs') %>
    </div>

        <div id="trainings" class="container shadow-lg p-3 mb-5 bg-white rounded">
            <h1>Trainings</h1>
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Short Description</th>
                    <th>Long Description</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
                </thead>
                <tbody>
                <% trainings.forEach(function (training) {%>
                    <tr>
                        <td class="align-middle"><%= training.nameT %></td>
                        <td class="align-middle"><%= training.descrShort %></td>
                        <td class="align-middle" style="max-width: 50px; width: 100%;overflow: scroll"><%= training.descrLong %></td>
                        <td class="align-middle">
                            <form action="/admin/delete/training/<%= training._id %>" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form action="/admin/update/training/<%= training._id %>" method="POST" onsubmit="return validate()">
                                <div class="row-cols-lg-1"><input type="text" placeholder="name Training" name="nameT"></div>
                                <div class="row-cols-lg-1"><textarea type="text" placeholder="Text" name="descrShort"></textarea></div>
                                <div class="row-cols-lg-1"><textarea type="text" placeholder="Text" name="descrLong"></textarea></div>
                                <button type="submit" class="btn btn-info">Update</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>

    <div id="application" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Add New Application:</h1>
        <%- include('partials/application-form.ejs') %>
    </div>

    <div id="table" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Applications</h1>
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-mail</th>
                <th>Phone</th>
                <th>Text</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="appShow">
            <% applications.forEach(function (application) {%>
                <tr>
                    <td class="align-middle"><%= application.firstName %></td>
                    <td class="align-middle"><%= application.surname %></td>
                    <td class="table-info font-italic align-middle"><%= application.mail %></td>
                    <td class="align-middle"><%= application.phoneNum %></td>
                    <td class="align-middle"><%= application.applicText %></td>
                    <td class="align-middle">
                        <form action="/admin/delete/<%= application._id %>" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>

<script>
    function fetchdata(){
        $.ajax({
            url: '/admin/applications',
            type: 'get',
            success: (response) => setApplications(response),
            complete:function(data){
                setTimeout(fetchdata,5000);
            }
        });
    }

    function setApplications(data) {
        let $appShow = $("#appShow");

        $appShow.empty();
        data.forEach((application) => {
            $appShow.append(
                "<tr><td class=\"align-middle\">" + application.firstName + "</td><td class=\"align-middle\"> "
                 + application.surname + "</td><td class=\"align-middle table-info font-italic\"> " + application.mail
                + "</td><td class=\"align-middle\">" + application.phoneNum + "</td><td class=\"align-middle\">" + application.applicText +
                "</td><td class=\"align-middle\"><form action=\"/admin/delete/" + application._id + "\" method=\"post\"><button type=\"submit\" class=\"btn btn-danger\">Delete</button></form></td></tr>"
            );
        });
    }

    $(document).ready(function(){
        setTimeout(fetchdata,5000);
    });

</script>
</body>