<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color: <%= color %>">
    <button class="myBtn" onClick='window.location="#message"'>Message</button>
    <button class="myBtn" onClick='window.location="#training"'>Add Training</button>
    <button class="myBtn" onClick='window.location="#trainings"'>Trainings</button>
    <button class="myBtn" onClick='window.location="#mailer"'>Add Application</button>
    <button class="myBtn" onClick='window.location="#table"'>Applications</button>

    <div id="message" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Create Message:</h1>
        <form action="/admin/send" method="POST">
                <div class="form-group">
                    <label for="template">Choose template:</label>
                    <select id="template" name="messageTemplate" class="form-control-lg">
                        <option value=""></option>
                        <option value="Hello! How are you?">Hello! How are you?</option>
                        <option value="Good morning! Do you have any plans for today?">Good morning! Do you have any plans for today?</option>
                        <option value="Your computer is hacked!">Your computer is hacked!</option>
                        <option value="Hi, Dear! I hope you have a wonderful day!">Hi, Dear! I hope you have a wonderful day!</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="message">Custom message:</label>
                    <textarea class="form-control-lg" id="message" rows="3" cols="41" placeholder="Message" name="myMessage"></textarea>
                </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-lg">Send message to Applicators</button>
            </div>
        </form>
    </div>

    <div id="training" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Add New Training:</h1>
        <form action="/admin/training" method="POST">
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <input type="text" required placeholder="name Training" name="nameT" class="form-control-lg">
                </div>
                <div class="col d-flex justify-content-center">
                    <textarea type="text" required placeholder="descrShort" name="descrShort" class="form-control-lg"></textarea>
                </div>
                <div class="col d-flex justify-content-start">
                    <textarea type="text" required placeholder="descrLong" name="descrLong" class="form-control-lg"></textarea>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-lg">Add Training</button>
            </div>
        </form>
    </div>

        <div id="trainings" class="container shadow-lg p-3 mb-5 bg-white rounded">
            <h1>Trainings</h1>
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Short Description</th>
                    <th>Long Description</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
                </thead>
                <tbody>
                <% trainings.forEach(function (training) {%>
                    <tr>
                        <td class="align-middle"><%= training.nameT %></td>
                        <td class="align-middle"><%= training.descrShort %></td>
                        <td class="align-middle"><%= training.descrLong %></td>
                        <td class="align-middle">
                            <form action="/admin/delete/training/<%= training._id %>" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form action="/admin/update/training/<%= training._id %>" method="POST" onsubmit="return validate()">
                                <div class="row-cols-lg-1"><input type="text" placeholder="name Training" name="nameT"></div>
                                <div class="row-cols-lg-1"><textarea type="text" placeholder="Text" name="descrShort"></textarea></div>
                                <div class="row-cols-lg-1"><textarea type="text" placeholder="Text" name="descrLong"></textarea></div>
                                <button type="submit" class="btn btn-info">Update</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>

    <div id="mailer" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Add New Application:</h1>
        <form method="POST" onsubmit="return validate()">
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <input type="text" required placeholder="First Name" name="firstName" class="form-control-lg">
                </div>
                <div class="col d-flex justify-content-start">
                    <input type="text" required placeholder="Surname" name="surname" class="form-control-lg">
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end">
                    <input id="emailField" type="email" required placeholder="E-mail" name="mail" class="form-control-lg">
                </div>
                <div class="col d-flex justify-content-start">
                    <input type="text" required placeholder="Phone" name="phoneNum" class="form-control-lg">
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <textarea type="text" required placeholder="Text" name="applicText" class="form-control-lg"></textarea>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-lg">Apply</button>
            </div>
        </form>
    </div>

    <div id="table" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Applications</h1>
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-mail</th>
                <th>Phone</th>
                <th>Text</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
            </thead>
            <tbody>
            <% applications.forEach(function (application) {%>
                <tr>
                    <td class="align-middle"><%= application.firstName %></td>
                    <td class="align-middle"><%= application.surname %></td>
                    <td class="table-info font-italic align-middle"><%= application.mail %></td>
                    <td class="align-middle"><%= application.phoneNum %></td>
                    <td class="align-middle"><%= application.applicText %></td>
                    <td class="align-middle">
                        <form action="/admin/delete/<%= application._id %>" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form action="/admin/update/<%= application._id %>" method="POST" onsubmit="return validate()">
                            <input type="text" placeholder="First Name" name="firstName">
                            <input type="text" placeholder="Surname" name="surname">
                            <input type="email" id="emailField" placeholder="E-mail" name="mail">
                            <input type="text" placeholder="Phone" name="phoneNum">
                            <textarea type="text" placeholder="Text" name="applicText"></textarea>
                            <button type="submit" class="btn btn-info">Update</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>

<script>
    function validateEmail(email) {
        let re = /\S+@\S+\.\S+/;
        return re.test(String(email).toLowerCase());
    }

    function validate() {
        let mailToCheck = document.getElementById('emailField').value;
        if(mailToCheck.length > 0){
            if(validateEmail(mailToCheck)){
                return true;
            }else{ alert("E-mail is not valid"); return false;}
        }
    }
</script>
</body>
</html>