<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/3c3246e51c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color: <%= color %>">
    <button class="myBtn" onClick='window.location="#training"'>Add Training</button>
    <button class="myBtn" onClick='window.location="#trainings"'>Trainings</button>
    <button class="myBtn" onClick='window.location="#mailer"'>Add Application</button>
    <button class="myBtn" onClick='window.location="#table"'>Applications</button>

    <div id="training" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Add New Training:</h1>
        <form id="formApplication" class="form-application" action="/admin/training" method="POST" onsubmit="return checkInputs();">
            <div class="my-form-control">
                <label>Training name</label>
                <input type="text" placeholder="Name" name="nameT" id="nameT">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="my-form-control">
                <label>Short Description</label>
                <textarea type="text" placeholder="Text" name="descrShort" id="descrShort"></textarea>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="my-form-control">
                <label>Long Description</label>
                <textarea type="text" placeholder="Text" name="descrLong" id="descrLong"></textarea>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="my-button">
                <button type="submit" class="btn btn-success btn-lg btn-block">Add Training</button>
            </div>
        </form>
    </div>

        <div id="trainings" class="container shadow-lg p-3 mb-5 bg-white rounded">
            <h1>Trainings</h1>
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Short Description</th>
                    <th>Long Description</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
                </thead>
                <tbody>
                <% trainings.forEach(function (training) {%>
                    <tr>
                        <td class="align-middle"><%= training.nameT %></td>
                        <td class="align-middle"><%= training.descrShort %></td>
                        <td class="align-middle" style="max-width: 50px; width: 100%;overflow: scroll"><%= training.descrLong %></td>
                        <td class="align-middle">
                            <form action="/admin/delete/training/<%= training._id %>" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form action="/admin/update/training/<%= training._id %>" method="POST" onsubmit="return validate()">
                                <div class="row-cols-lg-1"><input type="text" placeholder="name Training" name="nameT"></div>
                                <div class="row-cols-lg-1"><textarea type="text" placeholder="Text" name="descrShort"></textarea></div>
                                <div class="row-cols-lg-1"><textarea type="text" placeholder="Text" name="descrLong"></textarea></div>
                                <button type="submit" class="btn btn-info">Update</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>

    <div id="mailer" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Add New Application:</h1>
        <form id="formApplication" class="form-application" method="POST" onsubmit="return checkInput();">
            <div class="my-form-control">
                <label>First name</label>
                <input type="text" placeholder="Someone" name="firstName" id="firstName">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="my-form-control">
                <label>Surname</label>
                <input type="text" placeholder="Someone" name="surname" id="surname">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="my-form-control">
                <label>Email</label>
                <input type="email" placeholder="lalala@gmail.com" name="mail" id="mail">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="my-form-control">
                <label>Phone</label>
                <input type="text" placeholder="+38(xxx)xxxxxxx" name="phoneNum" id="phoneNum">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="my-form-control">
                <label>Text</label>
                <textarea type="text" placeholder="Text" name="applicText" id="applicText"></textarea>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <div class="my-button">
                <button type="submit" class="btn btn-success btn-lg btn-block">Apply</button>
            </div>
        </form>
    </div>

    <div id="table" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Applications</h1>
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-mail</th>
                <th>Phone</th>
                <th>Text</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <% applications.forEach(function (application) {%>
                <tr>
                    <td class="align-middle"><%= application.firstName %></td>
                    <td class="align-middle"><%= application.surname %></td>
                    <td class="table-info font-italic align-middle"><%= application.mail %></td>
                    <td class="align-middle"><%= application.phoneNum %></td>
                    <td class="align-middle"><%= application.applicText %></td>
                    <td class="align-middle">
                        <form action="/admin/delete/<%= application._id %>" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>

<script>
    const formApplication = document.getElementById('formApplication');
    const firstName = document.getElementById('firstName');
    const surname = document.getElementById('surname');
    const mail = document.getElementById('mail');
    const phoneNum = document.getElementById('phoneNum');
    const applicText = document.getElementById('applicText');

    const nameT = document.getElementById('nameT');
    const descrShort = document.getElementById('descrShort');
    const descrLong = document.getElementById('descrLong');

    function checkInputs(){
        const nameTValue = nameT.value.trim();
        const descrShortValue = descrShort.value.trim();
        const descrLongValue = descrLong.value.trim();
        let isGood = true;

        if(nameTValue === ''){
            setErrorFor(nameT, "Training name cannot be blank");
            isGood = false;
        }else{
            setSuccessFor(nameT);
        }

        if(descrShortValue === ''){
            setErrorFor(descrShort, "Short Description name cannot be blank");
            isGood = false;
        }else{
            setSuccessFor(descrShort);
        }

        if(descrLongValue === ''){
            setErrorFor(descrLong, "Long Description name cannot be blank");
            isGood = false;
        }else{
            setSuccessFor(descrLong);
        }

        return isGood;
    }

    function checkInput(){
        const firstnameValue = firstName.value.trim();
        const surnameValue = surname.value.trim();
        const mailValue = mail.value.trim();
        const phoneNumValue = phoneNum.value.trim();
        const applicTextValue = applicText.value.trim();
        let isGood = true;

        if(firstnameValue === ''){
            setErrorFor(firstName, "First name cannot be blank");
            isGood = false;
        }else{
            setSuccessFor(firstName);
        }

        if(surnameValue === ''){
            setErrorFor(surname, "Surname cannot be blank");
            isGood = false;
        }else{
            setSuccessFor(surname);
        }

        if(mailValue === '') {
            setErrorFor(mail, 'Email cannot be blank');
            isGood = false;
        } else if (!isEmail(mailValue)) {
            setErrorFor(mail, 'Not a valid email');
            isGood = false;
        } else {
            setSuccessFor(mail);
        }

        if(phoneNumValue === ''){
            setErrorFor(phoneNum, "Phone cannot be blank");
            isGood = false;
        }else if (!isPhone(phoneNumValue)) {
            setErrorFor(phoneNum, 'Not a valid phone number');
            isGood = false;
        }else{
            setSuccessFor(phoneNum);
        }

        if(applicTextValue === '') {
            setErrorFor(applicText, 'Text cannot be blank');
            isGood = false;
        } else {
            setSuccessFor(applicText);
        }

        return isGood;
    }

    function setErrorFor(input, message) {
        const formControl = input.parentElement;
        const small = formControl.querySelector('small');
        formControl.className = 'my-form-control error';
        small.innerText = message;
    }

    function setSuccessFor(input) {
        const formControl = input.parentElement;
        formControl.className = 'my-form-control success';
    }

    function isEmail(email) {
        return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
    }

    function isPhone(phone) {
        return /^[+][3][8][(]\d{3}[)]\d{7}$/.test(phone);
    }
</script>
</body>
</html>